{% extends 'home/base.html' %}
{% load static %}
{% block content %}




    <header class="dx-header dx-box-5">
        <div class="container">
            <div class="bg-image bg-image-parallax">
                <img src="{% static 'assets/images/svu.jpg' %}" class="jarallax-img" alt="">
                <div style="background-color: rgba(27, 27, 27, .8);"></div>
            </div>

            <div class="container mnb-8">
                <h1 class="h4 mb-10 text-white text-center">عن المشروع</h1>


                <!-- START: Breadcrumbs -->
                <ul class="dx-breadcrumbs text-center">
                    <li>
                        <a href="{% url 'home' %}">الصفحة الرئيسية</a>
                    </li>
                    <li>عن المشروع</li>
                </ul>
                <!-- END: Breadcrumbs -->

            </div>
        </div>
    </header>

    <div class="dx-box-5 pb-100 bg-grey-6">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <div class="dx-box-decorated">
                        <div class="dx-box-content text-center">
                            <h2 class="h3" dir="rtl">مشروع بحث رسالة ماجستير بعنوان: </h2>
                            <h2 class="h3" dir="rtl">تطوير بوت الدردشة في مجال خدمة العملاء للشركات العاملة بقطاع الاتصالات</h2>
                        </div>
                        <div class="dx-separator"></div>
                        <div class="dx-box-content text-center">
                            <h2 class="h4" dir="rtl">
                                إعداد:
                            </h2>
                            <h2 class="h6 " dir="rtl">
                                الطالب: فهد توفيق سليمان  Fahd_86660
                            </h2>
                            <h2 class="h4 " dir="rtl">
                                إشراف:
                            </h2>
                            <h2 class="h5 " dir="rtl">
                                الاستاذ الدكتور المهندس:
                            </h2>
                            <h2 class="h5 " dir="rtl">
                                محمد بسام الكردي
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock content %}
{% block botpress %}
{% include 'home/botpress.html' %}
{% endblock botpress %}