<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
{% load custom_tag %} 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>مركز الخدمات - الهيئة الوطنية لخدمات الشبكة</title>

    <meta name="description" content="help desk nans">
    <meta name="keywords" content="helpdesk, forum, template, HTML template, responsive, clean">
    <meta name="author" content="Fahd Soliman">

    <link rel="icon" type="image/png" href="{% static 'assets/images/logo.png' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- START: Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/dist/css/bootstrap.min.css' %}">

    <!-- Fancybox -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fancybox/dist/jquery.fancybox.min.css' %}">

    <!-- Pe icon 7 stroke -->
    <link rel="stylesheet" href="{% static 'assets/vendor/pixeden-stroke-7-icon/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css' %}">

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/swiper/dist/css/swiper.min.css' %}">

    <!-- Bootstrap Select -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}">

    <!-- Dropzone -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/dropzone/dist/min/dropzone.min.css' %}">

    <!-- Quill -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/quill/dist/quill.snow.css' %}">

    <!-- Font Awesome -->
    <script defer src="{% static 'assets/vendor/fontawesome-free/js/all.js' %}"></script>
    <script defer src="{% static 'assets/vendor/fontawesome-free/js/v4-shims.js' %}"></script>

    <!-- Amdesk -->
    <link rel="stylesheet" href="{% static 'assets/css/amdesk.css' %}">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    
 
    <!-- END: Styles -->

    <!-- jQuery -->
    <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>

    .toast {
        position: absolute !important; 
        top: 5em; 
        right: 0;
        margin: 1em;
        z-index: 99;
    }

    .toast .logo {
        height: 2em;
    }

    /* IMG displaying */
    .person-card {
        margin-top: 5em;
        padding-top: 5em;
    }
    .person-card .card-title{
        text-align: center;
    }
    .person-card .person-img{
        width: 10em;
        position: absolute;
        top: -5em;
        left: 50%;
        margin-left: -5em;
        border-radius: 100%;
        overflow: hidden; 
        background-color: white;
        border-top: 3px solid #3a3535;

    }

    .btn-perso {
        position: center;
    }
    </style>
</head>

<body>
<!--
    START: Navbar

    Additional Classes:
        .dx-navbar-sticky || .dx-navbar-fixed
        .dx-navbar-autohide
        .dx-navbar-dropdown-triangle
        .dx-navbar-dropdown-dark - only <ul>
        .dx-navbar-expand || .dx-navbar-expand-lg || .dx-navbar-expand-xl
-->
<nav class=" dx-navbar dx-navbar-top dx-navbar-collapse dx-navbar-sticky dx-navbar-expand-lg dx-navbar-dropdown-triangle dx-navbar-autohide">
    <div class="container">
        
        <a href="{% url 'home' %}" class="dx-nav-logo">
            <img src="{% static 'assets/images/logo.png' %}" alt="" width="57px">
        </a>
        <button class="dx-navbar-burger">
            <span></span><span></span><span></span>
        </button>
        <div class="dx-navbar-content"> 
        <ul class="dx-nav dx-nav-align-left">
            <li class="dx-drop-item {% if request.path  == "/product/" %} active{% endif %}">
                <a href="{% url 'product' %}" >
                    الخدمات
                </a>
                <ul class="dx-navbar-dropdown">       
                    <li class="{% if request.path  == "/product/" %}active{% endif %}">
                        <a href="{% url 'product' %}" >
                            الخدمات
                        </a>
                    </li>
                    <li>
                        <a dir="rtl" href="#">
                            الاستضافة Hosting
                        </a>
                    </li>
                    <li>
                        <a dir="rtl" href="#">
                            النطاق Domain
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dx-drop-item">
                <a href="{% url 'default' %}">
                    المدونة
                </a>
                <ul class="dx-navbar-dropdown">
                    <li>
                        <a href="#">
                            المدونة
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            التصنيفات
                        </a>
                    </li>
                </ul>
            </li>
        
            <li class="dx-drop-item">
                <a href="{% url 'default' %}">
                    مركز الدعم
                </a>
                <ul class="dx-navbar-dropdown">        
                    <li>
                        <a href="#">
                            مركز الدعم
                        </a>
                    </li>
                    <li class="dx-drop-item">
                        <a href="#">
                            دليل الاستخدام
                        </a>
                        <ul class="dx-navbar-dropdown">          
                            <li>
                                <a href="#">
                                    التوثيقات
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dx-drop-item">
                        <a href="#">
                            بنك المعلومات
                        </a>
                        <ul class="dx-navbar-dropdown">       
                            <li>
                                <a href="#">
                                    بنك المعلومات
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dx-drop-item">
                        <a href="#">
                            المنتديات
                        </a>
                        <ul class="dx-navbar-dropdown">  
                            <li>
                                <a href="#">
                                    المنتديات
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    علوم الحاسب
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    أمن المعلومات
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="{% if request.path  == "/about/" %}active{% endif %}">
                <a href="{% url 'about' %}">عن المشروع</a>
            </li>
        </ul>
            
        <ul class="dx-nav dx-nav-align-right">
                
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <li class="dx-drop-item">
                        <div class="dropdown dx-dropdown dx-dropdown-signin">
                            <a class="dx-nav-signin" href="" role="button" id="dropdownSignin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="dx-nav-signin-img"><img src="{{ user.profile.image.url }}" alt=""></span>
                                <span class="dx-nav-signin-name">{{ user.username }}</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownSignin">
                                <li>
                                    <a href="{% url 'admin_botpress' %}"><span class="icon pe-7s-download"></span> إدارة الحسابات</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin_settings' %}"><span class="icon pe-7s-config"></span> الاعدادات</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}"><span class="icon pe-7s-back"></span> تسجيل الخروج</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% elif request.user|has_group:"stuff" %}
                    <li>
                        <div class="dropdown dx-dropdown dx-dropdown-signin">
                            <a class="dx-nav-signin" href="#" role="button" id="dropdownSignin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="dx-nav-signin-img"><img src="{{ user.profile.image.url }}" alt=""></span>
                                <span class="dx-nav-signin-name">{{ user.username }}</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownSignin">
                                <li>
                                    <a href="{% url 'view_request' %}"><span class="icon pe-7s-download"></span> عرض طلبات الزبائن</a>
                                </li>
                                <li>
                                    <a href="{% url 'settings' %}"><span class="icon pe-7s-config"></span> الاعدادات</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}"><span class="icon pe-7s-back"></span> تسجيل الخروج</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li>
                        <div class="dropdown dx-dropdown dx-dropdown-signin">
                            <a class="dx-nav-signin" href="#" role="button" id="dropdownSignin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="dx-nav-signin-img"><img src="{{ user.profile.image.url }}" alt=""></span>
                                <span class="dx-nav-signin-name">{{ user.username }}</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownSignin">
                                <li>
                                    <a href="{% url 'account' %}"><span class="icon pe-7s-user"></span> الحساب</a>
                                </li>
                                <li>
                                    <a href="{% url 'myproducts' %}"><span class="icon pe-7s-download"></span> منتجاتي</a>
                                </li>
                                <li>
                                    <a href="{% url 'settings' %}"><span class="icon pe-7s-config"></span> الاعدادات</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}"><span class="icon pe-7s-back"></span> تسجيل الخروج</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
            {% else %}
                <li>
                    <a href="{% url 'login' %}">تسجيل الدخول</a>
                </li>
                <li>
                    <span><a href="{% url 'register' %}" class="dx-btn dx-btn-md dx-btn-transparent">حساب جديد</a></span>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="dx-navbar dx-navbar-fullscreen">
    <div class="container">
        <button class="dx-navbar-burger">
            <span></span><span></span><span></span>
        </button>
        <div class="dx-navbar-content"> 
            <ul class="dx-nav dx-nav-align-left">
                <li class="dx-drop-item">
                    <a href="{% url 'product' %}">
                        الخدمات
                    </a>
                    <ul class="dx-navbar-dropdown">       
                        <li>
                            <a href="{% url 'product' %}">
                                الخدمات
                            </a>
                        </li>
                        <li>
                            <a dir="rtl" href="#">
                                الاستضافة Hosting
                            </a>
                        </li>
                        <li>
                            <a dir="rtl" href="#">
                                النطاق Domain
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dx-drop-item">
                    <a href="{% url 'default' %}">
                        المدونة
                    </a>
                    <ul class="dx-navbar-dropdown">
                        <li>
                            <a href="#">
                                المدونة
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                التصنيفات
                            </a>
                        </li>
                    </ul>
                </li>
        
                <li class="dx-drop-item">
                    <a href="{% url 'default' %}">
                        مركز الدعم
                    </a>
                    <ul class="dx-navbar-dropdown">        
                        <li>
                            <a href="#">
                                مركز الدعم
                            </a>
                        </li>
                        <li class="dx-drop-item">
                            <a href="#">
                                دليل الاستخدام
                            </a>
                            <ul class="dx-navbar-dropdown">          
                                <li>
                                    <a href="#">
                                        التوثيقات
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dx-drop-item">
                            <a href="#">
                                بنك المعلومات
                            </a>
                            <ul class="dx-navbar-dropdown">       
                                <li>
                                    <a href="#">
                                        بنك المعلومات
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dx-drop-item">
                            <a href="#">
                                المنتديات
                            </a>
                            <ul class="dx-navbar-dropdown">  
                                <li>
                                    <a href="#">
                                        المنتديات
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        علوم الحاسب
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        أمن المعلومات
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            
            <ul class="dx-nav dx-nav-align-right justify-content-between">
                    
                {% if user.is_authenticated %}
                    <li>
                        <span>
                            <a class="dx-nav-signin" href="{% url 'account' %}" >
                                <span class="dx-nav-signin-img"><img src="{{ user.profile.image.url }}" alt=""></span>
                                <span class="dx-nav-signin-name">{{ user.username }}</span>
                            </a>
                        </span>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">تسجيل الدخول</a>
                    </li>
                    <li>
                        <span><a href="{% url 'register' %}" class="dx-btn dx-btn-md dx-btn-transparent">حساب جديد</a></span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- END: Navbar -->

<div class="dx-main">
{% include 'home/messages.html' %}

    {% block content %}
    {% endblock %}
</div>
<!-- START: Footer -->
<footer class="dx-footer">
    <div class="dx-box-1">
        <div class="container">
            <div class="row vertical-gap lg-gap">
                
                <div class="col-sm-6 col-lg-3">
                    
                    <div class="dx-widget-footer">
                        <div class="dx-widget-title">
                            <a href="{% url 'home' %}" class="dx-widget-logo">
                                <img src="{% static 'assets/images/logo.png' %}" alt="" width="88px">
                            </a>
                        </div>
                        <div class="dx-widget-text">
                            <p class="mb-0">&copy; {% now "Y" %} <span class="dib"> All rights reserved. </span> <span class="dib">NANS</span></p>
                        </div>
                        <div class="dx-widget-text">
                            <ul class="dx-social-links mnt-3">
                                <li><a href="#"><span class="fab fa-behance-square"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-dribbble"></span></a></li>
                                <li><a href="#"><span class="fab fa-github"></span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</footer>
<!-- END: Footer -->

<!-- START: Scripts -->

<!-- Object Fit Images -->
<script src="{% static 'assets/vendor/object-fit-images/dist/ofi.min.js' %}"></script>

<!-- Popper -->
<script src="{% static 'assets/vendor/popper.js/dist/umd/popper.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Fancybox -->
<script src="{% static 'assets/vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>

<!-- Cleave -->
<script src="{% static 'assets/vendor/cleave.js/dist/cleave.min.js' %}"></script>

<!-- Validator -->
<script src="{% static 'assets/vendor/validator/validator.min.js' %}"></script>

<!-- Sticky Kit -->
<script src="{% static 'assets/vendor/sticky-kit/dist/sticky-kit.min.js' %}"></script>

<!-- Jarallax -->
<script src="{% static 'assets/vendor/jarallax/dist/jarallax.min.js' %}"></script>
<script src="{% static 'assets/vendor/jarallax/dist/jarallax-video.min.js' %}"></script>

<!-- Isotope -->
<script src="{% static 'assets/vendor/isotope-layout/dist/isotope.pkgd.min.js' %}"></script>

<!-- ImagesLoaded -->
<script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>

<!-- Swiper -->
<script src="{% static 'assets/vendor/swiper/dist/js/swiper.min.js' %}"></script>

<!-- Gist Embed -->
<script src="{% static 'assets/vendor/gist-embed/gist-embed.min.js' %}"></script>

<!-- Bootstrap Select -->
<script src="{% static 'assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

<!-- Dropzone -->
<script src="{% static 'assets/vendor/dropzone/dist/min/dropzone.min.js' %}"></script>

<!-- Quill -->
<script src="{% static 'assets/vendor/quill/dist/quill.min.js' %}"></script>

<!-- The Amdesk -->
<script src="{% static 'assets/js/amdesk.min.js' %}"></script>
<script src="{% static 'assets/js/amdesk-init.js' %}"></script>
<!-- END: Scripts -->

    
</body>
</html>

<script src="http://localhost:3000/assets/modules/channel-web/inject.js"></script>

{% if user.is_authenticated %}
<script>
    window.botpressWebChat.init({ 
        host: 'http://localhost:3000/', 
        botId: 'nansagent',
        extraStylesheet: '/assets/modules/channel-web/chat.css'
    })
    window.addEventListener('message', function(event) {
        if (event.data.name === 'webchatLoaded') {
            window.botpressWebChat.sendEvent({
                type: 'set_name',
                channel: 'web',
                payload: { username: '{{ request.user.username }}', 
                        firstname: '{{ request.user.first_name }}' , 
                        lastname: '{{ request.user.last_name }}' ,
                        email: '{{ request.user.email }}'}
            })
        }
    })
</script>


{% else %}
<script>
    window.botpressWebChat.init({ 
        host: 'http://localhost:3000/', 
        botId: 'nansagent',
        extraStylesheet: 'assets/modules/channel-web/chat.css'
    })
    window.addEventListener('message', function(event) {
        if (event.data.name === 'webchatOpened') {
            window.botpressWebChat.sendEvent({
                type: 'proactive-trigger',
                channel: 'web',
                payload: { text: 'مرحبا' }
            })
        }
    })
</script>
{% endif %}

