{% extends 'home/base.html' %}
{% load static %}
{% block content %}
        

    <header class="dx-header dx-box-4">
        <div class="bg-image bg-image-parallax">
            <img src="{% static 'assets/images/header.jpg' %}" class="jarallax-img" alt="">
            <div style="background-color: rgba(27, 27, 27, .25);"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <h1 class="display-3 text-white">بنك المعلومات</h1>
                    <p class="lead text-1">المكان المليء بالمعلومات التقنية في مجال تكنلوجيا المعلومات</p>
                    <a href="#" class="dx-btn dx-btn-lg mt-10">إستكشف</a>
                </div>
            </div>
        </div>
    </header>

{% endblock content %}