{% extends "home/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>

<header class="dx-header dx-box-5">
    <div class="container">
        <div class="bg-image bg-image-parallax">
            <img src="{% static 'assets/images/cover.jpg' %}" class="jarallax-img" alt="">
            <div style="background-color: rgba(27, 27, 27, .8);"></div>
        </div>

        <div class="container mnb-8">
            <h1 class="h4 mb-10 text-white text-center">إدارة قاعدة المعرفة</h1>
            <!-- START: Breadcrumbs -->
            <ul class="dx-breadcrumbs text-center">
                <li><a href="{% url 'home' %}">الصفحة الرئيسية</a></li>
                <li><a href="{% url 'view_k' %}">إدارة قاعدة المعرفة</a></li>
                <li>تعديل مستند نص</li>
            </ul>
            <!-- END: Breadcrumbs -->
        </div>
    </div>
</header>

<!-- End of header -->
<div class="dx-box-5 bg-grey-6">
    <div class="container">
        <form method="POST" class="dx-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="dx-box-content text-right">
                {{ data_form.errors }}
                <div class="dx-form-group">
                    <label for="doc-name" class="mnt-7">اسم المستند</label>
                    {% render_field data_form.title id="doc-name" dir="rtl" class="form-control form-control-style-2 text-right" placeholder="أدخل اسم المستند" %}
                </div>
                <div class="dx-form-group">
                    <label for="text" class="form-check-label">النص</label>
                    {% render_field data_form.text id="text" class="form-control form-control-style-2 text-right"  %}
                </div>
                <div class="dx-form-group">
                    <label for="email-address" class="mnt-7">رابط مصدر البيانات</label>
                    {% render_field data_form.url class="form-control form-control-style-2"  %}
                </div>
                <div class="dx-form-group">
                    <label for="data_type" class="mnt-7"> مصدر البيانات</label>
                    {% render_field data_form.data_type class="form-control form-control-style-2"  %}
                </div>
                <div class="dx-form-group">
                    <button type="submit" class="dx-btn dx-btn-xl dx-btn-block">حفظ البيانات</button>
                </div>
            </div>
        </form>
    </div>
</div>



{% endblock %}