{% extends 'home/base.html' %}
{% load static %}
{% block content %}



    <header class="dx-header dx-box-5">
        <div class="bg-image bg-image-parallax">
            <img src="{% static 'assets/images/cover.jpg' %}" class="jarallax-img" alt="">
            <div style="background-color: rgba(27, 27, 27, .8);"></div>
        </div>

        <div class="container mnb-8">
            <h1 dir="rtl" class="h4 mb-10 text-white text-center">{{ detail.product_type.type_name }}
                -
                {{ detail.product_name }}</h1>
            <!-- START: Breadcrumbs -->
            <ul dir="rtl" class="dx-breadcrumbs text-center">
                <li>
                    <a href="{% url 'home' %}">الصفحة الرئيسية</a>
                </li>
                <li>
                    <a href="{% url 'product' %}">الخدمات</a>
                </li>
                <li>{{ detail.product_type.type_name }}
                    /
                    {{ detail.product_name }}</li>
            </ul>
            <!-- END: Breadcrumbs -->
        </div>
    </header>

    


    <div class="dx-box-5 pb-100 bg-grey-6">
        <div dir="rtl" class="container" style="text-align: right;">
            <div class="row vertical-gap md-gap">
                <div dir="rtl" class="col-lg-8">
                    <div class="dx-box dx-box-decorated">
                        <div class="dx-gallery p-10">
                            <a href="{{ detail.product_img.url }}" data-fancybox="images" class="dx-gallery-item">
                                <span class="dx-gallery-item-overlay">
                                    <span class="icon pe-7s-exapnd2"></span>
                                </span>
                                <img src="{{ detail.product_img.url }}" class="dx-img" alt="">
                            </a>
                            <!-- START: Slider Gallery
                            Additional Classes:
                            .dx-slider-arrows (clone arrows)
                    
                            Additional Attributes:
                            data-swiper-speed                (numbers)
                            data-swiper-space                (numbers)
                            data-swiper-autoPlay             (numbers)
                            data-swiper-slides               (numbers)
                            data-swiper-slidesAuto           (true or false)
                            data-swiper-arrows-clone         (true or false)
                            data-swiper-grabCursor           (true or false)
                            data-swiper-lazy                 (true or false)
                            data-swiper-breakpoints          (true or false)
                            data-swiper-arrows               (true or false)
                            data-swiper-pagination           (true or false)
                            data-swiper-pagination-dynamic   (true or false)
                            data-swiper-pagination-scrollbar (true or false)
                            data-swiper-autoHeight           (true or false)
                            data-swiper-freeMode             (true or false)
                            data-swiper-loop                 (true or false)
                    
                                            -->
                            <div class="swiper-container dx-slider dx-slider-gallery mt-10" data-swiper-speed="800" data-swiper-space="10" data-swiper-slides="4" data-swiper-pagination-scrollbar="true">
                                <div class="swiper-scrollbar"></div>
                            </div>
                        </div>
                        <div class="dx-box-content pt-20 pb-0 d-md-block d-lg-none">
                            <div class="row vertical-gap xs-gap justify-content-between">
                                <div class="col col-sm-5 col-md-4">
                                    <a href="" class="dx-btn dx-btn-lg dx-btn-block">شراء الخدمة</a>
                                </div>
                            </div>
                        </div>
                        <ul class="nav dx-tab mt-35" role="tablist">
                            <li>
                                <a class="active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">الوصف</a>
                            </li>
                            <li>
                                <a id="changelog-tab" data-toggle="tab" href="#changelog" role="tab" aria-controls="changelog" aria-selected="false">ملفات</a>
                            </li>
                            <li>
                                <a href="#">التوثيقات
                                    <span class="icon fas fa-external-link-alt"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">بنك المعلومات
                                    <span class="icon fas fa-external-link-alt"></span>
                                </a>
                            </li>
                        </ul>
                        <div dir="rtl" class="dx-blog-post">
                            <div  class="dx-blog-post-box">
                                <div  class="tab-content dx-tab-content">
                                    <div  class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                        {{ detail.product_description }}
                                    </div>
                                    <div class="tab-pane fade" id="changelog" role="tabpanel" aria-labelledby="changelog-tab">
                                        <div class="dx-changelog mt-4">
                                            <div class="h5">ملفات مرتبطة</div>
                                            <div class="dx-ticket-comment" style="text-align: left;">
                                                <a href="{{ detail.product_file.url }}" class="dx-comment-file dx-comment-file-jpg">
                                                    <span class="dx-comment-file-img"><img src="{% static 'assets/images/pdf.svg' %}" alt="" width="36"></span>
                                                    <span class="dx-comment-file-name">معلومات {{ detail.product_name }}</span>
                                                    <span class="dx-comment-file-size">4.8 MB</span>
                                                    <span class="dx-comment-file-icon"><span class="icon pe-7s-download"></span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dx-separator"></div>
                            <div class="dx-blog-post-box pt-30 pb-30">
                                <ul class="dx-blog-post-info mnt-15 mnb-1">
                                    <li>Date:
                                        {{ detail.pub_date }}</li>
                                    <li>Views: 163</li>
                                </ul>
                                <ul class="dx-social-links dx-social-links-style-2 mt-15">
                                    <li>
                                        <a href="#" class="dx-social-twitter">Twitter
                                            <span class="icon fab fa-twitter"></span>
                                            </a>
                                    </li>
                                    <li>
                                        <a href="#" class="dx-social-facebook">Facebook
                                            <span class="icon fab fa-facebook"></span>
                                            </a>
                                    </li>
                                    <li>
                                        <a href="#" class="dx-social-google">Google
                                            <span class="icon fab fa-google"></span>
                                            </a>
                                    </li>
                                    <li>
                                        <a href="#" class="dx-social-pinterest">Pinterest
                                            <span class="icon fab fa-pinterest"></span>
                                            </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="dx-box mt-55">
                        <h2  class="h4 mb-45">التعليقات:</h2>
                        <div class="dx-comment">
                            <div>
                                <div class="dx-comment-img">
                                    <img src="{% static 'assets/images/logo.png' %}" alt=""></div>
                                <div class="dx-comment-cont" style="margin-right: 30px;">
                                    <a href="#" class="dx-comment-name">ماريا حداد</a>
                                    <a href="#" class="dx-comment-reply">ردّ</a>
                                    <div class="dx-comment-text">
                                        <p class="mb-0">إنها خدمة ممتازة، التجربة كانت رائعة حقاً!</p>
                                    </div>
                                    <div class="dx-comment-date">18 Feb 2018 7:13 pm</div>
                                </div>
                            </div>
                            <div class="dx-comment" style="margin-right: 110px;">
                                <div>
                                    <div class="dx-comment-img">
                                        <img src="{% static 'assets/images/logo.png' %}" alt=""></div>
                                    <div class="dx-comment-cont" style="margin-right: 30px;">
                                        <a href="#" class="dx-comment-name">مدير النظام</a>
                                        <a href="#" class="dx-comment-reply">ردّ</a>
                                        <div class="dx-comment-text">
                                            <p class="mb-0">شكراً لإهتمامك، نتمنى أن تكون تجربتك مفيدة لكِ!</p>
                                        </div>
                                        <div class="dx-comment-date">19 Feb 2018 7:20 pm</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form action="#" class="dx-form mt-50">
                            <div class="row vertical-gap">
                                <div class="col-md-6">
                                    <input class="form-control form-control-style-3 text-right" type="text" placeholder="الاسم"></div>
                                <div class="col-md-6">
                                    <input class="form-control form-control-style-3 text-right" type="text" placeholder="النسبة"></div>
                                <div class="col-12">
                                    <textarea class="form-control form-control-style-3 text-right" name="name" rows="8" cols="80" placeholder="أكتب تعليقك هنا ..."></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="button" name="button" class="dx-btn dx-btn-lg">تعليق</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="dx-sticky dx-sidebar" data-sticky-offsettop="120" data-sticky-offsetbot="40">
                        <div class="d-none d-lg-block mb-40">
                            <div class="row vertical-gap xs-gap justify-content-between">
                                <div class="col">
                                    <a href="{% url 'add_product' detail.id %}" class="dx-btn dx-btn-lg dx-btn-block">شراء الخدمة</a>
                                </div>
                            </div>
                        </div>


                        <div class="dx-widget dx-box dx-box-decorated text-right">
                            <div class="dx-widget-title">
معلومات عن الخدمة                               
                            </div>
                            {{ detail.product_specification|safe }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
