{% extends 'products/add_product.html' %}
{% load widget_tweaks %}
{% block reg %}
<form method="POST" class="dx-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="dx-box-content text-right">
        {{ resdomain_form.domain_name.errors }}
        <div class="dx-form-group">
            <label for="domain-name" class="mnt-7">اسم النطاق</label>
            {% render_field resdomain_form.domain_name id="domain-name" class="form-control form-control-style-2" placeholder="أدخل اسم للنطاق الخاص بك" %}
        </div>
        <div class="dx-form-group">
            <label for="activate" class="form-check-label">التفعيل الفوري بعد التسجيل</label>
            {% render_field resdomain_form.activate id="activate" dir="ltr" type="checkbox" data-toggle="switchbutton"  data-size="sm" data-onlabel="نعم" data-offlabel="لا" %}
            <label for="activate" class="form-check-label">أرغب بالتفعيل الفوري بعد التسجيل</label>
        </div>
        <div class="dx-form-group">
            <label for="email-address" class="mnt-7">عنوان السيرفر الاساسي</label>
            {% render_field resdomain_form.primary_name_server class="form-control form-control-style-2" placeholder="عنوان السيرفر الاساسي" %}
        </div>
        <div class="dx-form-group">
            <label for="line-one" class="mnt-7">عنوان السيرفر الثانوي</label>
            {% render_field resdomain_form.secondary_name_server class="form-control form-control-style-2" placeholder="عنوان السيرفر الثانوي" %}
        </div>
        <div class="dx-form-group">
            <label for="line-one" class="mnt-7">عنوان الجهة المستضيفة</label>
            {% render_field resdomain_form.hosting_company class="form-control form-control-style-2" placeholder="عنوان الجهة المستضيفة" %}
        </div>
        <div class="dx-form-group">
            <label for="line-two" class="mnt-7">ملف الدفع البنكي</label>
            {% render_field resdomain_form.bill_file class="form-control form-control-style-2" placeholder="ملف الدفع البنكي" %}
        </div>
        <div class="dx-form-group">
            <button type="submit" class="dx-btn dx-btn-xl dx-btn-block">حفظ البيانات</button>
        </div>
    </div>
</form>


{% endblock reg %}