{% extends 'home/base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}
<header class="dx-header dx-box-5">
    <div class="container">
        <div class="bg-image bg-image-parallax">
            <img src="{% static 'assets/images/cover.jpg' %}" class="jarallax-img" alt="">
            <div style="background-color: rgba(27, 27, 27, .8);"></div>
        </div>

        <div class="container mnb-8">
            <h1 class="h4 mb-10 text-white text-center">الحساب</h1>
            
            
<!-- START: Breadcrumbs -->
            <ul class="dx-breadcrumbs text-center">
                <li><a href="index.html">الصفحة الرئيسية</a></li>
                <li>الحساب</li>
            </ul>
<!-- END: Breadcrumbs -->
        </div>
    </div>
</header>
<br>
<div class="container text-right" dir="rtl">
    <div class="card person-card">
        <div class="card-body">
            <img id="img_sex" class="person-img"
                src="{{request.user.profile.image.url}}">
            <h2 id="who_message" class="card-title">{{request.user.username}}</h2>
            <!-- First row (on medium screen) -->
            
            <div class="dx-form-group">
                <label for="first-name" class="mnt-7">الاسم </label>
                {{request.user.first_name}} {{request.user.last_name}}
            </div>
            <div class="dx-form-group">
                <label for="email-address" class="mnt-7">عنوان البريد الالكتروني</label>
                {{request.user.email}}
            </div>
            <div class="dx-form-group">
                <label for="line-one" class="mnt-7">حساب الفيسبوك</label>
                {{request.user.profile.fbName}}
            </div>
            <div class="dx-form-group">
                <label for="line-two" class="mnt-7">حساب التيليغرام</label>
                {{request.user.profile.telegram}}
            </div>
            <div class="dx-form-group">
                <label for="city" class="mnt-7">الجنس</label>
                {{request.user.profile.get_gender}}
            </div>
            <div class="dx-form-group">
                <a href="{% url 'settings' %}" class="dx-btn dx-btn-md ">تعديل الحساب</a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2>this is the body of my products</h2>
        </div>
    </div>
</div>
{% endblock  %}