<div class="dx-box-4">
        <div class="row">
			<div class="col-md-5 mx-auto">
			<div class="content-section" id="first">
				<div class="content-section">
					 <div class="logo mb-3">
						 <div class="col-md-12 text-center">
							<h1>تسجيل حساب جديد</h1>
						 </div>
					</div>
                   <form  method="POST" class="form" id="register">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}
                        {% render_field form.username class="form-control" placeholder="user name" %}
                        {% for field in form.visible_fields %}
                        <div class="input-group">
                        {{ field.errors }}
                        {% render_field field class="form-control " placeholder=field.name %}
                        {{ field.help_text }}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <button class="btn   btn-primary tx-tfm" type="submit">Sign Up</button>
                        </div>
                    </form>
				</div>
			</div>  
		</div>
        <div class="col-md">
        </div>
      </div> 
      